/nbproject/private/
/build/
/dist/
*.properties

*.properties

*.properties

nbproject/genfiles.properties

nbproject/genfiles.properties

nbproject/project.properties

nbproject/genfiles.properties

*.properties

*.class

*.class

src/java/utility/Constants.class
